/*---------------------- stil za navigaciju ------------------*/

body {
  min-height: 100vh;
  background: url('../../assets/2Nadezda-Petrovic-kosovski-bozuri-Gracanica-1913..jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  padding: 20px 100px;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}


.nav-item{
  margin-bottom: 15px;
  max-width: 200px;
}


.btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight : 500;
  margin-left: 40px;
  transition : .5s;
}

.btnLogin-popup:hover {
  background: rgba(255,255,255,.2);
  /* background: #fff; */
  color: #162938;
}

.mainContainer {

  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 10px;
  padding: 20px 20px;
  max-width: 700px;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, .2);
}

/*---------------------- stil za stranicu ------------------*/
.table {
  margin-top: 20px;
}

.table th, .table td {
  vertical-align: middle;
}

.profileImg {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 15px; /* Zaobljeni uglovi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Blaga senka */
  border: 3px solid #ddd; /* Svetli okvir */
}

.profileData {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 2%;
}
.profileNameSurname{
  display: flex;
  justify-content:center;
  align-items: baseline;
}

.profesijaDiv {
  margin-bottom: 5px;
}


.profesijaDiv, .profileEmail{
  display: flex;
  justify-content: center;
}

.profileData .kor-ime {
  position: relative;
  top: 5%;
  font-size: 20px;
  margin: 10px 20px;
  margin-top: 15px;
  flex-grow: 1;
}
.profileNameSurname .ime, .profileNameSurname .prezime {
  font-size: 25px;
  margin: 5px 5px;
}

.profesijaDiv .tip {
  font-size: 14px;
}


.btn-md {
  padding: .5rem 1rem;
  font-size: 12px;
  background-color: rgba(255,255,255,.2);
  border: 2px solid #fff;
  min-width: max-content;

}


/* stil ukoliko koristimo dugme za promenu lozinke*/
/* .btnUpdate {
  display: flex;
  justify-content: space-between;
}

.btn1{
  margin-right: 2px;
} */


/*----ostatak od forme-----------*/

.ostaliPodaci p{
  font-size: 14px;
  padding-left: 30px;
}
.ostaliPodaci h4 {
  padding: 10px 10px;
}

.ostaliPodaci hr {
  color: #fff;
}

.ostaliPodaci i {
  margin-left: 10px;
}
